@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


/* base styles */
body {
  background: #352121;
  font-family: 'Inter';
}

.groupby {
  margin-right: 10px;
}

.comedown {
  margin-top: 30px;
}

.tasks {
  height: 525px;
  overflow: auto;
}

.rounded { border-radius: 8px;}

ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
body {
  background: url('https://i.ibb.co/1Kxt2NC/pexels-cup-of-couple-6956917.jpg') no-repeat center center fixed;
  background-size:cover ;
  color: black;
  display: flex;
  min-height: 100vh;
}
.container {
  /* background-color: rgba(219, 171, 171, 0.95); */
  background-size:cover;
  /* border-radius: 10px; */
  padding: 20px;
  margin-top: 20px;
}
.border-black {
  border-color: black !important;
}
.tasks {
  /* background: url('https://i.ibb.co/P6sf0cP/pexels-pnw-prod-9219059.jpg') no-repeat center center fixed; */
  background-size:cover;
  padding: 20px 30px;
  border-radius: 10px;
  
}
.col-3 {
  /* background: url('https://i.ibb.co/BN60vZH/pexels-athena-3550651.jpg') no-repeat center center fixed; */
  background-size: cover;
  padding: 20px 10px;
  border-radius: 20px;

}
.task {
  margin-bottom: 20px;
}
/* .form-control, .form-select {
  background-color: #e4d9d9;
  border: none;
  color: #f5f2f2;
} */
.form-control:focus, .form-select:focus {
  background-color: #e4d9d9;
}
.form-label {
  color: black;
}

.status-circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 10px;
}

.Todo { background-color: red;}
.In-Progress { background-color: orange;}
.Review {background-color: green;}
.Done { background-color:gray;}


.border-Todo {border: 2px solid red}
.border-In-Progress {border: 2px solid orange}
.border-Review {border: 2px solid green}
.border-Done { border: 2px solid gray;}

/* Styles for the search input */
#searchInput {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#searchInput:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.delete-button {
  /* position: absolute;
  top: 10px;
  right: 10px; */
  color: white;
  background-color: red;
  border: none;
  cursor: pointer;
}

li + button {
  display: block;
}
