@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


/* base styles */
body {
  background: #eee;
  font-family: 'Inter';
}

.groupby {
  margin-right: 10px;
}

.comedown {
  margin-top: 30px;
}

.tasks {
  height: 525px;
  overflow: auto;
}

.rounded { border-radius: 8px;}

ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}




